<a data-bs-toggle="offcanvas" href="#carSummary" aria-controls="carSummary">
  {% include 'buttons/summaryBtn.html' %}
</a>

<div
  class="offcanvas offcanvas-bottom"
  tabindex="-1"
  id="carSummary"
  aria-labelledby="carSummaryLabel"
>
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" id="carSummaryLabel">Summary</h5>
    <button
      type="button"
      class="btn-close text-reset"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    {% include 'BodyData/summaryData.html' %}
    <!-- edit button  -->
    <div class="contact_container fixed-bottom pt-3 shadow">
      <div class="container">
        <div class="row">
          <div class="col">
            <button
              type="button"
              class="btn btn-dark btn_contact"
              onclick="editSummary(event)"
            >
              Edit
            </button>
          </div>
          <div class="col-3">
            <button
              type="button"
              class="btn btn-outline-dark btn_contact"
              data-bs-dismiss="offcanvas"
              aria-label="Close"
            >
              X
            </button>
          </div>
        </div>
      </div>
    </div>
    <div style="height: 100px; width: 100%"></div>
  </div>
</div>

<script>
  function editSummary(event) {
    event.preventDefault();
    document.getElementById("summary").style.display = "none";
    document.getElementById("edit").style.display = "block";
  }

  function submitBtn() {
    event.preventDefault();
    document.getElementById("summary").style.display = "block";
    document.getElementById("edit").style.display = "none";
  }
</script>
