{% extends 'client/base.html' %}
<!-- divider  -->
{% load static %}
<!-- divider  -->
{% block content %}
<style>
  :root {
    --primary-color: #222222;
    --background-color: #e4eaff;
    --secondary-color: #4a4685;
    --secondary-background: #f5f5f7;
  }

  a {
    text-decoration: none;
    color: inherit;
  }

  .offcanvas-bottom {
    height: 90vh;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }

  /* Feature styling  */
  .main_container {
    border-radius: 12px;
    background-color: var(--secondary-background);
  }

  .image_container {
    height: 100px;
    width: 130px;
    border-radius: 12px;
    margin-right: 10px;
  }

  .feature_image {
    height: 100%;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
  }

  .p-tags {
    font-size: 14px;
  }
</style>

<div class="container mt-5">
  <!-- ======= Car Make ======= -->
  {% include 'mainSearch/filterOffcanvas.html' %}
</div>

<div class="container mt-5">{% include 'vehicle/featuredCars.html' %}</div>

<div style="height: 200px; width: 100%"></div>
{% endblock %}
