<div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Average</p>
        <p class="mb-0">{{carData.economy.average}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Urban</p>
        <p class="mb-0">{{carData.economy.urban}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Extra Urban</p>
        <p class="mb-0">{{carData.economy.extraUrban}}</p>
      </div>
    </li>

    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Co2</p>
        <p class="mb-0">{{carData.economy.co2}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Fuel range</p>
        <p class="mb-0">{{carData.economy.fuelRange}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Fuel tank capacity</p>
        <p class="mb-0">{{carData.economy.tankCapacity}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Engine auto start/stop</p>
        <p class="mb-0">{{carData.economy.autoStart}}</p>
      </div>
    </li>
  </ul>
</div>
