<div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Power Max</p>
        <p class="mb-0">{{carData.engine.powerMax}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Power Max rpm</p>
        <p class="mb-0">{{carData.engine.powerrpm}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Torque Max</p>
        <p class="mb-0">{{carData.engine.torqueMax}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Torque Max rpm</p>
        <p class="mb-0">{{carData.engine.torquerpm}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Engine Size</p>
        <p class="mb-0">{{carData.engine.engineSize}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Cylinders</p>
        <p class="mb-0">{{carData.engine.cylinders}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Charger</p>
        <p class="mb-0">{{carData.engine.charger}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Engine Position / Location</p>
        <p class="mb-0">{{carData.engine.enginePosition}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Gear ratios quantity</p>
        <p class="mb-0">{{carData.engine.gearRatio}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Gearshift</p>
        <p class="mb-0">{{carData.engine.gearShift}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Driven Wheels</p>
        <p class="mb-0">{{carData.engine.drivenWheels}}</p>
      </div>
    </li>
    <li class="list-group-item py-3">
      <div class="d-flex justify-content-between">
        <p class="mb-0 text-secondary">Gear Paddles</p>
        <p class="mb-0">{{carData.engine.paddles}}</p>
      </div>
    </li>
  </ul>
  
</div>
