<h3 class="mb-3 fw-bold">Images</h3>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="input-group mb-3">
      <input
        type="file"
        class="form-control"
        id="inputGroupFile04"
        aria-describedby="inputGroupFileAddon04"
        aria-label="Upload"
        name="image1"
      />
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="input-group mb-3">
      <input
        type="file"
        class="form-control"
        id="inputGroupFile04"
        aria-describedby="inputGroupFileAddon04"
        aria-label="Upload"
        name="image2"
      />
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="input-group mb-3">
      <input
        type="file"
        class="form-control"
        id="inputGroupFile04"
        aria-describedby="inputGroupFileAddon04"
        aria-label="Upload"
        name="image3"
      />
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="input-group mb-3">
      <input
        type="file"
        class="form-control"
        id="inputGroupFile04"
        aria-describedby="inputGroupFileAddon04"
        aria-label="Upload"
        name="image4"
      />
    </div>
  </div>
  <!-- end input item  -->
</div>
<button class="btn btn-next mt-4" onclick="showLocation(event)">
  Next Section
</button>
