<h3 class="mb-3 fw-bold">Engine</h3>
<div class="row">
  <div class="col-12 col-md-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Power Max"
        name="powerMax"
      />
      <label for="floatingInput">Power Max</label>
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Power Max rpm"
        name="powerrpm"
      />
      <label for="floatingInput">Power Max rpm</label>
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Torque Max"
        name="torqueMax"
      />
      <label for="floatingInput">Torque Max</label>
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Torque Max rpm"
        name="torquerpm"
      />
      <label for="floatingInput">Torque Max rpm</label>
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Engine Size"
        name="engineSize"
      />
      <label for="floatingInput">Engine Size</label>
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Cylinders"
        name="cylinders"
      />
      <label for="floatingInput">Cylinders</label>
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Charger"
        name="charger"
      />
      <label for="floatingInput">Charger</label>
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Engine Position / Location"
        name="enginePosition"
      />
      <label for="floatingInput">Engine Position / Location</label>
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Gear ratios quantity"
        name="gearRatio"
      />
      <label for="floatingInput">Gear ratios quantity</label>
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Gearshift"
        name="gearShift"
      />
      <label for="floatingInput">Gearshift</label>
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <div class="form-floating mb-3">
      <input
        type="text"
        class="form-control"
        id="floatingInput"
        placeholder="Driven Wheels"
        name="drivenWheels"
      />
      <label for="floatingInput">Driven Wheels</label>
    </div>
  </div>
  <!-- end input item  -->
  <div class="col-12 col-md-6">
    <select
      class="form-select mb-3 py-3"
      aria-label="Default select example"
      name="paddles"
    >
      <option selected>Gear shift paddles</option>
      <option value="Yes">Yes</option>
      <option value="No">No</option>
    </select>
  </div>
  <!-- end input item  -->
</div>
<button class="btn btn-next mt-4" onclick="showEconomy(event)">
  Next Section
</button>
